body {
    background-color: #f8f9fa;
}

.header {
    background-color: #a20000; /* Красный цвет */
    color: #FFD700; /* Золотой цвет */
    padding: 20px;
    text-align: center;
}

.footer {
    background-color: #a20000; /* Красный цвет */
    color: #FFD700; /* Золотой цвет */
    padding: 10px;
    text-align: center;
    position: relative; /* Изменено на relative для корректного отображения */
    width: 100%;
    bottom: 0;
}

.nav-tabs .nav-link.active {
    background-color: #FFD700; /* Золотой цвет для активной вкладки */
    color: #a20000; /* Красный цвет текста */
}

